@model List<Product>
@{
    ViewBag.Title = "Products";
}


<section>
    <h2>Products</h2>
    <hr />
    <form action="/Home/SortProducts" method="post">
        <select name="id">
            <option value="0">Vælg Kategori</option>
            @foreach (Category item in ViewBag.Categories)
            {
                if (TempData["SavedCategoryID"] == null)
                {
                    <option value="@item.ID">@item.Name</option>
                }
                else
                {
                    int categoryID = (int)TempData["SavedCategoryID"];
                    if (categoryID == item.ID)
                    {
                        <option value="@item.ID" selected="selected">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                }
            }
        </select>
        <input type="submit" value="Sortér" />
    </form>
    <hr />
    <div>
        @if (Model.Count > 0)
        {
            foreach (Product item in Model)
            {
                <a href="/Home/ShowProduct/@item.ID">
                    <div class="productItem">
                        <div>
                            <div>
                                <img src="~/Content/Images/Products/@item.Image" alt="@item.Name" />
                            </div>
                            <div>
                                <span>
                                    @item.Name
                                </span>
                                <p>
                                    @item.Description
                                </p>
                                @{
                                    if (item.OnSale == true)
                                    {
                                        <span class="spanOnSale">
                                            Tilbud! Før: <span class="spanLineThrough">@item.Price</span> Nu:<span class="spanSalePrice">@item.SalePrice</span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            Pris: @item.Price
                                        </span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <p>
                Din søgning gav ingen resultater.
            </p>                            
        }
    </div>
</section>
