@model Product
@{
    ViewBag.Title = "Product - " + Model.Name;
    Category productCategory = ViewBag.Category;
}

<section id="showProduct">
    <div>
        <img src="~/Content/Images/Products/@Model.Image" alt="@Model.Name" />
    </div>
    <div>
        <h3>@Model.Name</h3>
        <span class="spanHeader">
            DKK @Model.Price,-
        </span>
        <span class="spanHeader">Description</span>
        <p>
            @Model.Description
        </p>
        <span class="spanHeader">Category</span>
        <h3>
            @productCategory.Name
        </h3>
        <span class="spanHeader">Category Description</span>
        <p>
            @productCategory.Description
        </p>

    </div>
</section>